---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@use "variables" with (
    $base-font-family: ({{ site.fonts.base }}),
    $header-font-family: ({{ site.fonts.header }}),
    $text-color: {{ site.colors.text_color }},
    $frame-color: {{ site.colors.frame_color }},
    $background-color: {{ site.colors.background_color }},
    $brand-color: {{ site.colors.brand_color }},
    $secondary-color: {{ site.colors.secondary_color }},
    $selection-color: {{ site.colors.text_selection_color }},
    $sidebar-hover-color: {{ site.colors.sidebar_hover_color }}
);
@use "base";
@use "fonts";
@use "syntax-highlighting-fruity";
@use "simple-sidebar";
@use "pages";

strong {
    font-weight: 700;
    color: #daa520;
}
